<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CinemaCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CinemaCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
	  <add key="TicketConnection" value="Data Source=192.168.3.253;Max Pool Size=8192;Initial Catalog=CinemaTicket2018"/>
    <add key="CrmConnection" value="Data Source=192.168.3.253;Max Pool Size=8192;Initial Catalog=CinemaCrm2018"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup  useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <CinemaCRM.Properties.Settings>
      <setting name="LinkDialogURLs" serializeAs="String">
        <value />
      </setting>
    </CinemaCRM.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <CinemaCRM.Properties.Settings>
      <setting name="CinemaCRM_vn_brandsms_SentSMS" serializeAs="String">
        <value>http://brandsms.vn:8018/VMGAPI.asmx</value>
      </setting>
    </CinemaCRM.Properties.Settings>
  </applicationSettings>
</configuration>
