<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <appSettings>
      <add key="smtpserver" value="mail.chieuphimquocgia.com.vn"/>
      <!--<add key="smtpaccount" value="muaveonline@chieuphimquocgia.com.vn"/>-->
      <add key="smtpaccount" value="cskh@chieuphimquocgia.com.vn"/>
      <add key="smtppassword" value="M8ugEWy5gHK"/>
      <add key="smtpDisplayName" value="Trung tâm chiếu phim Quốc Gia"/>
      <!--<add key="fromMailAddress" value="muaveonline@chieuphimquocgia.com.vn"/>-->
      <add key="fromMailAddress" value="cskh@chieuphimquocgia.com.vn"/>
      <add key="smtpport" value="25"/>
      <add key="smtpssl" value="true"/>
      <add key="smtptimeout" value="20000"/>
      <add key="mailSendInterval" value="1000"/>
      <add key="standbyTime" value="10000"/>
      <!-- <add key="MasterConnection" value="Data Source=113.190.242.4;Max Pool Size=8192;Initial Catalog=CinemaCrm2015"/> -->
	  <add key="MasterConnection" value="Data Source=118.70.148.84;Max Pool Size=8192;Initial Catalog=CinemaTicket2016"/>
    </appSettings>

</configuration>
